.remove-link-styles {
  text-decoration: none;
  color: inherit;
}

/* card styles */

.card-border {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 24px;
}

.card-telegram {
  width: 160px;
  background: rgba(73, 165, 232, 0.1);
  border-color: rgba(73, 165, 232, 0.1);
  border-radius: 24px;
}

.card-viber {
  width: 160px;
  background: rgba(136, 97, 178, 0.1);
  border-color: rgba(136, 97, 178, 0.1);
  border-radius: 24px;
}

.card-facebook {
  width: 160px;
  background: rgba(74, 153, 247, 0.1);
  border-color: rgba(74, 153, 247, 0.1);
  border-radius: 24px;
}

.contact__cards .card-body {
  width: 350px;
  max-width: 100%;
  padding: 35px 65px;
}

/* tags styles */

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

section {
  padding-bottom: 183px;
}

section:last-child {
  padding-bottom: 0;
}

footer {
  margin-top: 60px;
}

/* bootstrap */

p {
  margin: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #2D3C5A;
  background-color: inherit;
}

.nav-pills .nav-link {
  margin-bottom: 10px;
}

.navbar-collapse {
  flex-grow: inherit;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

/* nav block */

.container-fluid {
  padding: 0;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #969DAC;
}

.nav-link:hover {
  color: #969DAC;
}

/*.navbar .nav-link:first-child {*/
/*  padding-left: 0;*/
/*}*/

/*.navbar .nav-link:last-child {*/
/*  padding-right: 0;*/
/*}*/

.navbar-light .navbar-toggler {
  border: none;
}

.dropdown-menu {
  border: 1px solid #F0F0F0;
  min-width: auto;
}

.dropdown-item {
  color: #969DAC;
}

.header .modal-dialog {
  margin: 0;
}

.modal.fade .modal-dialog {
  margin-left: auto;
}

.modal-size {
  width: 245px;
  max-width: none;
  height: 100%;
  margin: 0;
}

.modal-size .modal-content {
  height: 100%;
}

/* salary section */

.salary__direction {
  flex-direction: row;
}

.salary__name {
  font-weight: 700;
  font-size: 62px;
  line-height: 80px;
  color: #2D3C5A;
}

.salary__visa {
  margin-top: 84px;
}

.salary__image {
  padding-left: 125px;
}

.salary__image-visibility-2 {
  display: none;
}

/* works section */

.works__rounded {
  position: relative;
  background: #F7FBFF;
  border-radius: 24px;
  height: 540px;
  width: 540px;
}

.works__inner {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 330px;
  bottom: 0px;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 26px 14px;
}

.works__img {
  padding-right: 15px;
}

.works__icon {
  width: 24px;
  height: 24px;
}

.works__cash-out-man {
  position: absolute;
  left: 18px;
  bottom: 0;
}

/* cash-out block */
.cash-out {
  position: absolute;
  right: 60px;
  top: 60px;
  width: 330px;
  height: 280px;
  padding: 24px 14px;
  background: #FFFFFF;
  box-shadow: 0px 40px 50px rgba(45, 60, 90, 0.05);
  border-radius: 24px;
}

.works__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #2D3C5A;
  margin-bottom: 5px;
}

.cash-out__funds-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #2D3C5A;
}

.cash-out__btn {
  position: absolute;
  bottom: 24px;
  left: 14px;
  right: 14px;
}

/* output block */

.output {
  margin-bottom: 40px;
}

/* benefits section */

.benefits {
  padding-bottom: 100px;
}

.benefits__target > * {
  margin: 15px;
}

.benefits__cards .card:nth-child(2) {
  margin: auto 30px;
}

.benefits__credit-card:hover {
  background: rgba(85, 165, 255, 0.05);
  border: 1px solid rgba(85, 165, 255, 0.1);
}

.benefits__statistic:hover {
  background: rgba(255, 95, 95, 0.05);
  border: 1px solid rgba(255, 95, 95, 0.1);
}

.benefits__check:hover {
  background: rgba(20, 210, 165, 0.05);
  border: 1px solid rgba(20, 210, 165, 0.1);
}

.benefits__employer-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #2D3C5A;
}

.benefits__btn {
  width: 228px;
  max-width: 100%;
}

/* joining block */

.joining {
  margin-top: 42px;
  margin-bottom: 14px;
}

/* q-and-a section */

.q-and-a {
  background: linear-gradient(180deg, #F7FBFF 0%, rgba(247, 251, 255, 0) 100%);
  padding-top: 100px;
  padding-bottom: 80px;
}

.q-and-a__email {
  margin-top: 42px;
  margin-bottom: 80px;
}

.q-and-a__img {
  padding-bottom: 24px;
}

.accordion {
  display: inline-block;
  width: max-content;
}

.accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: inherit;
}

/* contact section */

.contact {
  margin-top: 87px;
}

.contact__img {
  margin-bottom: 39px;
}

.contact__cards {
  max-width: 730px;
  margin: auto;
}

.contact__email-img {
  margin-top: 50px;
}

.contact__email {
  margin-top: 16px;
  margin-bottom: 26px;
}

.contact__phone {
  margin-top: 16px;
}

/* modal */

.modal-container {
  width: 730px;
  max-width: 100%;
}

.modal-content {
  background: #FFFFFF;
  box-shadow: 0px 40px 50px rgba(45, 60, 90, 0.05);
  border-radius: 24px;
  padding: 32px 95px;
}

.modal-header, .modal-footer {
  border: none;
  padding: 0;
}

.modal-body {
  padding: 0;
}

.modal-width {
  width: 350px;
  max-width: 100%;
}

.form-input {
  background: #FFFFFF;
  border: 1px solid #E0E2E6;
  border-radius: 8px;
  padding: 14px 16px;
}

.form-input:focus, .form-check-input:focus {
  box-shadow: none;
  border: 1px solid #E0E2E6;
}

.form-check-input:checked {
  background-color: #2D3C5A;
  border-color: #2D3C5A;
}

@media screen and (max-width: 1440px) {
  .container {
    position: relative;
    width: 1110px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 330px;
    padding: 0;
  }

  .header .container {
    padding: 0;
  }

  .header .container::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -14px;
    width: 100vw;
    height: 1px;
    background-color: #EBECEF;
  }

  .header .modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  .salary__direction {
    flex-direction: column;
  }

  .salary__about {
    display: contents;
  }

  .salary__title {
    order: 1;
  }

  .salary__sign-in {
    order: 3;
    text-align: center;
  }

  .salary__image {
    padding-left: 0;
    order: 2;
  }

  .salary__image-visibility-1 {
    display: none;
  }

  .salary__image-visibility-2 {
    display: block;
  }

  .salary__sign-in .btn-green {
    width: 330px;
  }

  .salary__visa {
    margin-top: 28px;
    justify-content: center;
  }
}