/* todo make universal classes for some fonts (padding and margin */
/* todo to go through the titles and substitute the h1-6 */

/* tags styles */

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

section {
  padding-bottom: 183px;
}

/* nav section */

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #969DAC;
}

.nav-link:hover {
  color: #969DAC;
}

.nav-link:first-child {
  padding-left: 0;
}

/* salary section */

.salary__about > * {
  margin-bottom: 24px;
}

.salary__name {
  font-weight: 700;
  font-size: 62px;
  line-height: 80px;
  color: #2D3C5A;
}

.salary__visa {
  margin-top: 84px;
}

/* works section */

.works__title {
  margin-bottom: 60px;
}

.works__rounded {
  position: relative;
  background: #F7FBFF;
  border-radius: 24px;
  height: 540px;
  width: 540px;
}

.works__cash-out-man {
  position: absolute;
  left: 30px;
  bottom: 0;
  /*z-index: 999;*/
}

/* cash-out section */

.cash-out {
  position: absolute;
  right: 60px;
  top: 60px;
  width: 330px;
  height: 280px;
  padding: 24px 14px;
  background: #FFFFFF;
  box-shadow: 0px 40px 50px rgba(45, 60, 90, 0.05);
  border-radius: 24px;
}

.cash-out__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #2D3C5A;
}

.cash-out__funds-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #2D3C5A;
}

.cash-out__btn {
  position: absolute;
  bottom: 24px;
  left: 14px;
  right: 14px;
}

/* output section */

.output {
  margin-bottom: 40px;
}

/* benefits section */

.benefits {
  padding-bottom: 100px;
}

.benefits__target > * {
  margin: 15px;
}

.benefits__cards .card:nth-child(2) {
  margin: auto 30px;
}

.card-border {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 24px;
}

.benefits__credit-card:hover {
  background: rgba(85, 165, 255, 0.05);
  border: 1px solid rgba(85, 165, 255, 0.1);
}

.benefits__statistic:hover {
  background: rgba(255, 95, 95, 0.05);
  border: 1px solid rgba(255, 95, 95, 0.1);
}

.benefits__check:hover {
  background: rgba(20, 210, 165, 0.05);
  border: 1px solid rgba(20, 210, 165, 0.1);
}

/* joining section */

.joining {
  margin-top: 42px;
  margin-bottom: 14px;
}

.joining__btn {
  margin: 24px 0;
}

/* q-and-a section */

.q-and-a {
  background: linear-gradient(180deg, #F7FBFF 0%, rgba(247, 251, 255, 0) 100%);
  padding-top: 100px;
  padding-bottom: 80px;
}

.q-and-a__email {
  margin-top: 42px;
  margin-bottom: 80px;
}

.q-and-a__img {
  padding-bottom: 24px;
}

.accordion {
  display: inline-block;
  width: max-content;
}

.accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: inherit;
}

.card-telegram {
  width: 160px;
  background: rgba(73, 165, 232, 0.1);
  border-radius: 24px;
}

.card-viber {
  width: 160px;
  background: rgba(136, 97, 178, 0.1);
  border-radius: 24px;
}

.card-facebook {
  width: 160px;
  background: rgba(74, 153, 247, 0.1);
  border-radius: 24px;
}