.vertical-line {
  width: 2px;
  background-color: #F0F0F0;
  margin-right: 30px;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: #F0F0F0;
  margin-top: 14px;
}

.dashed-line {
  border-top: 2px dashed #E0E2E6;
  width: 100%;
  margin: 24px 0;
}

.no-underline {
  text-decoration: none;
}