.mb-s {
  margin-bottom: 12px;
}

.mb-sm {
  margin-bottom: 14px;
}

.mb-m {
  margin-bottom: 24px;
}

.mb-l {
  margin-bottom: 42px;
}

.mb-xl {
  margin-bottom: 60px;
}

@media screen and (max-width: 360px) {
  .mb-m {
    margin-bottom: 18px;
  }

  .mb-l {
    margin-bottom: 30px;
  }
}