.xs-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #969DAC;
}

.s-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #969DAC;
}

.sm-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2D3C5A;
}

.m-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5A6478;
}

/* h4 */
.ml-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2D3C5A;
}

/* h3 */
.l-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #2D3C5A;
}

/* h2 */
.xl-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #2D3C5A;
}

.green-text {
  color: #0AB48C;
}

.red-text {
  color: #FF5F5F;
}

.input-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.modal-nav-text {
  color: #2D3C5A;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

@media screen and (max-width: 576px) {
  .salary__title {
    text-align: center;
    margin-top: 40px;
  }

  .salary__name {
    font-size: 24px;
    line-height: 40px;
  }
}

@media screen and (max-width: 360px) {
  .sm-text {
    font-size: 16px;
  }

  .ml-text {
    font-size: 18px;
  }

  .xl-text {
    font-size: 24px;
  }
}